In [6]:
import pandas as pd

# load 'Cause of Death' data of each year (2003-2015) and merge them into one dataframe
vital = pd.read_csv(f'/Users/Jung/Downloads/US_VitalStatistics/CauseofDeath2003.txt', sep='\t')
for i in range(2004, 2016):
    new_vital = pd.read_csv(f'/Users/Jung/Downloads/US_VitalStatistics/CauseofDeath{i}.txt', sep='\t')
    vital = pd.concat([vital, new_vital])

vital['Year'].value_counts()

2015.0    4783
2014.0    4651
2013.0    4594
2012.0    4534
2011.0    4515
2010.0    4441
2008.0    4369
2009.0    4364
2007.0    4304
2006.0    4262
2005.0    4202
2004.0    4135
2003.0    4087
Name: Year, dtype: int64

In [7]:
vital['Year'].value_counts()

2015.0    4783
2014.0    4651
2013.0    4594
2012.0    4534
2011.0    4515
2010.0    4441
2008.0    4369
2009.0    4364
2007.0    4304
2006.0    4262
2005.0    4202
2004.0    4135
2003.0    4087
Name: Year, dtype: int64

In [8]:
# column 'Notes' has uneccessary data, so delete the coulumn and related rows
print(vital['Notes'].value_counts())
vital.drop('Notes',axis = 1, inplace = True)
vital.dropna(how = 'all', inplace = True)
vital

---                                                                                                                                 52
Dataset: Underlying Cause of Death, 1999-2017                                                                                       13
Query Parameters:                                                                                                                   13
Group By: County; Year; Drug/Alcohol Induced Cause                                                                                  13
Show Totals: Disabled                                                                                                               13
Show Zero Values: Disabled                                                                                                          13
Show Suppressed: False                                                                                                              13
Help: See http://wonder.cdc.gov/wonder/help/ucd.html for more information.                                                          13
Suggested Citation: Centers for Disease Control and Prevention, National Center for Health Statistics. Underlying Cause of Death    13
1999-2017 on CDC WONDER Online Database, released December, 2018. Data are from the Multiple Cause of Death Files, 1999-2017, as    13
compiled from data provided by the 57 vital statistics jurisdictions through the Vital Statistics Cooperative Program. Accessed     13
at http://wonder.cdc.gov/ucd-icd10.html on Oct 1, 2019 2:59:43 PM                                                                   13
Name: Notes, dtype: int64

,County,County Code,Year,Year Code,Drug/Alcohol Induced Cause,Drug/Alcohol Induced Cause Code,Deaths
0,"Autauga County, AL",1001.0,2003.0,2003.0,All other non-drug and non-alcohol causes,O9,397.0
1,"Baldwin County, AL",1003.0,2003.0,2003.0,Drug poisonings (overdose) Unintentional (X40-...,D1,10.0
2,"Baldwin County, AL",1003.0,2003.0,2003.0,All other alcohol-induced causes,A9,14.0
3,"Baldwin County, AL",1003.0,2003.0,2003.0,All other non-drug and non-alcohol causes,O9,1479.0
4,"Barbour County, AL",1005.0,2003.0,2003.0,All other non-drug and non-alcohol causes,O9,287.0
...,...,...,...,...,...,...,...
4778,"Sweetwater County, WY",56037.0,2015.0,2015.0,All other non-drug and non-alcohol causes,O9,251
4779,"Teton County, WY",56039.0,2015.0,2015.0,All other non-drug and non-alcohol causes,O9,95
4780,"Uinta County, WY",56041.0,2015.0,2015.0,All other non-drug and non-alcohol causes,O9,142
4781,"Washakie County, WY",56043.0,2015.0,2015.0,All other non-drug and non-alcohol causes,O9,81
4782,"Weston County, WY",56045.0,2015.0,2015.0,All other non-drug and non-alcohol causes,O9,61

In [9]:
# extract only drug-related data
print(vital['Drug/Alcohol Induced Cause'].value_counts())
str = ['Drug poisonings (overdose) Unintentional (X40-X44)', 'Drug poisonings (overdose) Suicide (X60-X64)', \
    'Drug poisonings (overdose) Undetermined (Y10-Y14)', 'All other drug-induced causes', 'Drug poisonings (overdose) Homicide (X85)']
vital_drug = vital.loc[vital['Drug/Alcohol Induced Cause'].isin(str)]
vital_drug

All other non-drug and non-alcohol causes             40337
Drug poisonings (overdose) Unintentional (X40-X44)     7573
All other alcohol-induced causes                       6123
Drug poisonings (overdose) Suicide (X60-X64)           1465
Drug poisonings (overdose) Undetermined (Y10-Y14)       761
All other drug-induced causes                           628
Alcohol poisonings (overdose) (X45, X65, Y15)           349
Drug poisonings (overdose) Homicide (X85)                 5
Name: Drug/Alcohol Induced Cause, dtype: int64

,County,County Code,Year,Year Code,Drug/Alcohol Induced Cause,Drug/Alcohol Induced Cause Code,Deaths
1,"Baldwin County, AL",1003.0,2003.0,2003.0,Drug poisonings (overdose) Unintentional (X40-...,D1,10.0
38,"Jefferson County, AL",1073.0,2003.0,2003.0,Drug poisonings (overdose) Unintentional (X40-...,D1,37.0
39,"Jefferson County, AL",1073.0,2003.0,2003.0,All other drug-induced causes,D9,32.0
54,"Mobile County, AL",1097.0,2003.0,2003.0,Drug poisonings (overdose) Unintentional (X40-...,D1,26.0
78,"Anchorage Borough, AK",2020.0,2003.0,2003.0,Drug poisonings (overdose) Unintentional (X40-...,D1,31.0
...,...,...,...,...,...,...,...
4744,"Waukesha County, WI",55133.0,2015.0,2015.0,Drug poisonings (overdose) Unintentional (X40-...,D1,34
4750,"Winnebago County, WI",55139.0,2015.0,2015.0,Drug poisonings (overdose) Unintentional (X40-...,D1,22
4760,"Fremont County, WY",56013.0,2015.0,2015.0,Drug poisonings (overdose) Unintentional (X40-...,D1,10
4766,"Laramie County, WY",56021.0,2015.0,2015.0,Drug poisonings (overdose) Unintentional (X40-...,D1,13
4770,"Natrona County, WY",56025.0,2015.0,2015.0,Drug poisonings (overdose) Unintentional (X40-...,D1,13

In [10]:
# drop 'Year Code' and 'Drug/Alcohol Induced Cause Code' columns
str = ['Year Code', 'Drug/Alcohol Induced Cause Code']
vital_drug.drop(str, axis = 1, inplace = True)
vital_drug

/Users/Jung/opt/miniconda3/lib/python3.9/site-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

,County,County Code,Year,Drug/Alcohol Induced Cause,Deaths
1,"Baldwin County, AL",1003.0,2003.0,Drug poisonings (overdose) Unintentional (X40-...,10.0
38,"Jefferson County, AL",1073.0,2003.0,Drug poisonings (overdose) Unintentional (X40-...,37.0
39,"Jefferson County, AL",1073.0,2003.0,All other drug-induced causes,32.0
54,"Mobile County, AL",1097.0,2003.0,Drug poisonings (overdose) Unintentional (X40-...,26.0
78,"Anchorage Borough, AK",2020.0,2003.0,Drug poisonings (overdose) Unintentional (X40-...,31.0
...,...,...,...,...,...
4744,"Waukesha County, WI",55133.0,2015.0,Drug poisonings (overdose) Unintentional (X40-...,34
4750,"Winnebago County, WI",55139.0,2015.0,Drug poisonings (overdose) Unintentional (X40-...,22
4760,"Fremont County, WY",56013.0,2015.0,Drug poisonings (overdose) Unintentional (X40-...,10
4766,"Laramie County, WY",56021.0,2015.0,Drug poisonings (overdose) Unintentional (X40-...,13
4770,"Natrona County, WY",56025.0,2015.0,Drug poisonings (overdose) Unintentional (X40-...,13

In [11]:
# change the types of columns which have numbers from float to integer
# check if there is null data
# it looks fine, but..
vital_drug.isnull().any()

County                        False
County Code                   False
Year                          False
Drug/Alcohol Induced Cause    False
Deaths                        False
dtype: bool

In [12]:
# check the types of columns which have numbers
vital_drug.dtypes

County                         object
County Code                   float64
Year                          float64
Drug/Alcohol Induced Cause     object
Deaths                         object
dtype: object

In [13]:
# type of 'Deaths' column is an object
# so, change it to numeric
vital_drug['Deaths'] = pd.to_numeric(vital_drug['Deaths'], errors = 'coerce')

# now we can find missing values
vital_drug.isnull().any()

/var/folders/p1/jgklqds92y73vr84wk5wz2cw0000gn/T/ipykernel_5724/2311712062.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vital_drug['Deaths'] = pd.to_numeric(vital_drug['Deaths'], errors = 'coerce')

County                        False
County Code                   False
Year                          False
Drug/Alcohol Induced Cause    False
Deaths                         True
dtype: bool

In [14]:
# total rows are 10432, but rows of 'Deaths' column are 10407 -> there are 25 missing values
vital_drug['Deaths'].describe()

count    10407.000000
mean        36.969732
std         53.060034
min         10.000000
25%         13.000000
50%         19.000000
75%         36.000000
max        705.000000
Name: Deaths, dtype: float64

In [15]:
# the number of missing values is very small compared to the total number
# so, just replace them to 0
vital_drug['Deaths'] = pd.to_numeric(vital_drug['Deaths'], errors = 'coerce').fillna(0)
vital_drug

/var/folders/p1/jgklqds92y73vr84wk5wz2cw0000gn/T/ipykernel_5724/634079126.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vital_drug['Deaths'] = pd.to_numeric(vital_drug['Deaths'], errors = 'coerce').fillna(0)

,County,County Code,Year,Drug/Alcohol Induced Cause,Deaths
1,"Baldwin County, AL",1003.0,2003.0,Drug poisonings (overdose) Unintentional (X40-...,10.0
38,"Jefferson County, AL",1073.0,2003.0,Drug poisonings (overdose) Unintentional (X40-...,37.0
39,"Jefferson County, AL",1073.0,2003.0,All other drug-induced causes,32.0
54,"Mobile County, AL",1097.0,2003.0,Drug poisonings (overdose) Unintentional (X40-...,26.0
78,"Anchorage Borough, AK",2020.0,2003.0,Drug poisonings (overdose) Unintentional (X40-...,31.0
...,...,...,...,...,...
4744,"Waukesha County, WI",55133.0,2015.0,Drug poisonings (overdose) Unintentional (X40-...,34.0
4750,"Winnebago County, WI",55139.0,2015.0,Drug poisonings (overdose) Unintentional (X40-...,22.0
4760,"Fremont County, WY",56013.0,2015.0,Drug poisonings (overdose) Unintentional (X40-...,10.0
4766,"Laramie County, WY",56021.0,2015.0,Drug poisonings (overdose) Unintentional (X40-...,13.0
4770,"Natrona County, WY",56025.0,2015.0,Drug poisonings (overdose) Unintentional (X40-...,13.0

In [16]:
# change the types of columns which have numbers from float to integer
str = ['County Code', 'Year', 'Deaths']
vital_drug[str] = vital_drug[str].astype(int)
vital_drug

/Users/Jung/opt/miniconda3/lib/python3.9/site-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

,County,County Code,Year,Drug/Alcohol Induced Cause,Deaths
1,"Baldwin County, AL",1003,2003,Drug poisonings (overdose) Unintentional (X40-...,10
38,"Jefferson County, AL",1073,2003,Drug poisonings (overdose) Unintentional (X40-...,37
39,"Jefferson County, AL",1073,2003,All other drug-induced causes,32
54,"Mobile County, AL",1097,2003,Drug poisonings (overdose) Unintentional (X40-...,26
78,"Anchorage Borough, AK",2020,2003,Drug poisonings (overdose) Unintentional (X40-...,31
...,...,...,...,...,...
4744,"Waukesha County, WI",55133,2015,Drug poisonings (overdose) Unintentional (X40-...,34
4750,"Winnebago County, WI",55139,2015,Drug poisonings (overdose) Unintentional (X40-...,22
4760,"Fremont County, WY",56013,2015,Drug poisonings (overdose) Unintentional (X40-...,10
4766,"Laramie County, WY",56021,2015,Drug poisonings (overdose) Unintentional (X40-...,13
4770,"Natrona County, WY",56025,2015,Drug poisonings (overdose) Unintentional (X40-...,13

In [17]:
# now we don't need 'Drug Induced Cause' any more
vital_drug.drop('Drug/Alcohol Induced Cause', axis = 1, inplace = True)
vital_drug

/Users/Jung/opt/miniconda3/lib/python3.9/site-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

                     County  County Code  Year  Deaths
1        Baldwin County, AL         1003  2003      10
38     Jefferson County, AL         1073  2003      37
39     Jefferson County, AL         1073  2003      32
54        Mobile County, AL         1097  2003      26
78    Anchorage Borough, AK         2020  2003      31
...                     ...          ...   ...     ...
4744    Waukesha County, WI        55133  2015      34
4750   Winnebago County, WI        55139  2015      22
4760     Fremont County, WY        56013  2015      10
4766     Laramie County, WY        56021  2015      13
4770     Natrona County, WY        56025  2015      13

[10432 rows x 4 columns]

In [18]:
# add the number of deaths by county and year
vital_drug_group = vital_drug.groupby([vital_drug['County'], vital_drug['County Code'], vital_drug['Year']], as_index = False).sum()
vital_drug_group

                 County  County Code  Year  Deaths
0     Acadia Parish, LA        22001  2003      11
1     Acadia Parish, LA        22001  2005      23
2     Acadia Parish, LA        22001  2006      19
3     Acadia Parish, LA        22001  2007      19
4     Acadia Parish, LA        22001  2009      11
...                 ...          ...   ...     ...
7920    Yuma County, AZ         4027  2011      20
7921    Yuma County, AZ         4027  2012      32
7922    Yuma County, AZ         4027  2013      22
7923    Yuma County, AZ         4027  2014      35
7924    Yuma County, AZ         4027  2015      24

[7925 rows x 4 columns]

In [19]:
# store data to parquet file
#vital_drug_group.to_csv('/Users/preetkhowaja/Documents/MIDS Fall 2021/Practicing DS/pds2021-opioids-pds6/10_modified_data/Vital.csv')
import fastparquet

vital_drug_group.to_parquet('/Users/Jung/pds2021-opioids-pds6/10_modified_data/Vital.parquet', engine = "fastparquet")