In [9]:
import pandas as pd
import numpy as np
from fastparquet import ParquetFile
#import addfips

In [10]:
fips = pd.read_csv("https://raw.githubusercontent.com/kjhealy/fips-codes/master/county_fips_master.csv", encoding="ISO-8859-1")

fips['county_name']= fips['county_name'].str[:-7]
fips['county_name']= fips['county_name'].str.upper()

fips.head()

,fips,county_name,state_abbr,state_name,long_name,sumlev,region,division,state,county,crosswalk,region_name,division_name
0,1001,AUTAUGA,AL,Alabama,Autauga County AL,50.0,3.0,6.0,1.0,1.0,3-6-1-1,South,East South Central
1,1003,BALDWIN,AL,Alabama,Baldwin County AL,50.0,3.0,6.0,1.0,3.0,3-6-1-3,South,East South Central
2,1005,BARBOUR,AL,Alabama,Barbour County AL,50.0,3.0,6.0,1.0,5.0,3-6-1-5,South,East South Central
3,1007,BIBB,AL,Alabama,Bibb County AL,50.0,3.0,6.0,1.0,7.0,3-6-1-7,South,East South Central
4,1009,BLOUNT,AL,Alabama,Blount County AL,50.0,3.0,6.0,1.0,9.0,3-6-1-9,South,East South Central

In [15]:
fips[fips["state_abbr"] == "FL"]["county_name"].unique()

array(['ALACHUA', 'BAKER', 'BAY', 'BRADFORD', 'BREVARD', 'BROWARD',
       'CALHOUN', 'CHARLOTTE', 'CITRUS', 'CLAY', 'COLLIER', 'COLUMBIA',
       'DESOTO', 'DIXIE', 'DUVAL', 'ESCAMBIA', 'FLAGLER', 'FRANKLIN',
       'GADSDEN', 'GILCHRIST', 'GLADES', 'GULF', 'HAMILTON', 'HARDEE',
       'HENDRY', 'HERNANDO', 'HIGHLANDS', 'HILLSBOROUGH', 'HOLMES',
       'INDIAN RIVER', 'JACKSON', 'JEFFERSON', 'LAFAYETTE', 'LAKE', 'LEE',
       'LEON', 'LEVY', 'LIBERTY', 'MADISON', 'MANATEE', 'MARION',
       'MARTIN', 'MIAMI-DADE', 'MONROE', 'NASSAU', 'OKALOOSA',
       'OKEECHOBEE', 'ORANGE', 'OSCEOLA', 'PALM BEACH', 'PASCO',
       'PINELLAS', 'POLK', 'PUTNAM', 'ST. JOHNS', 'ST. LUCIE',
       'SANTA ROSA', 'SARASOTA', 'SEMINOLE', 'SUMTER', 'SUWANNEE',
       'TAYLOR', 'UNION', 'VOLUSIA', 'WAKULLA', 'WALTON', 'WASHINGTON'],
      dtype=object)

In [16]:
fips[fips["state_abbr"] == "NM"]["county_name"].unique()

array(['BERNALILLO', 'CATRON', 'CHAVES', 'CIBOLA', 'COLFAX', 'CURRY',
       'DE BACA', 'DOÐA ANA', 'EDDY', 'GRANT', 'GUADALUPE', 'HARDING',
       'HIDALGO', 'LEA', 'LINCOLN', 'LOS ALAMOS', 'LUNA', 'MCKINLEY',
       'MORA', 'OTERO', 'QUAY', 'RIO ARRIBA', 'ROOSEVELT', 'SANDOVAL',
       'SAN JUAN', 'SAN MIGUEL', 'SANTA FE', 'SIERRA', 'SOCORRO', 'TAOS',
       'TORRANCE', 'UNION', 'VALENCIA'], dtype=object)

In [17]:
fips[fips["state_abbr"] == "FL"]["county_name"].unique()

array(['ALACHUA', 'BAKER', 'BAY', 'BRADFORD', 'BREVARD', 'BROWARD',
       'CALHOUN', 'CHARLOTTE', 'CITRUS', 'CLAY', 'COLLIER', 'COLUMBIA',
       'DESOTO', 'DIXIE', 'DUVAL', 'ESCAMBIA', 'FLAGLER', 'FRANKLIN',
       'GADSDEN', 'GILCHRIST', 'GLADES', 'GULF', 'HAMILTON', 'HARDEE',
       'HENDRY', 'HERNANDO', 'HIGHLANDS', 'HILLSBOROUGH', 'HOLMES',
       'INDIAN RIVER', 'JACKSON', 'JEFFERSON', 'LAFAYETTE', 'LAKE', 'LEE',
       'LEON', 'LEVY', 'LIBERTY', 'MADISON', 'MANATEE', 'MARION',
       'MARTIN', 'MIAMI-DADE', 'MONROE', 'NASSAU', 'OKALOOSA',
       'OKEECHOBEE', 'ORANGE', 'OSCEOLA', 'PALM BEACH', 'PASCO',
       'PINELLAS', 'POLK', 'PUTNAM', 'ST. JOHNS', 'ST. LUCIE',
       'SANTA ROSA', 'SARASOTA', 'SEMINOLE', 'SUMTER', 'SUWANNEE',
       'TAYLOR', 'UNION', 'VOLUSIA', 'WAKULLA', 'WALTON', 'WASHINGTON'],
      dtype=object)

In [14]:
fips[fips["state_abbr"] == "TX"]["county_name"].unique()

array(['ANDERSON', 'ANDREWS', 'ANGELINA', 'ARANSAS', 'ARCHER',
       'ARMSTRONG', 'ATASCOSA', 'AUSTIN', 'BAILEY', 'BANDERA', 'BASTROP',
       'BAYLOR', 'BEE', 'BELL', 'BEXAR', 'BLANCO', 'BORDEN', 'BOSQUE',
       'BOWIE', 'BRAZORIA', 'BRAZOS', 'BREWSTER', 'BRISCOE', 'BROOKS',
       'BROWN', 'BURLESON', 'BURNET', 'CALDWELL', 'CALHOUN', 'CALLAHAN',
       'CAMERON', 'CAMP', 'CARSON', 'CASS', 'CASTRO', 'CHAMBERS',
       'CHEROKEE', 'CHILDRESS', 'CLAY', 'COCHRAN', 'COKE', 'COLEMAN',
       'COLLIN', 'COLLINGSWORTH', 'COLORADO', 'COMAL', 'COMANCHE',
       'CONCHO', 'COOKE', 'CORYELL', 'COTTLE', 'CRANE', 'CROCKETT',
       'CROSBY', 'CULBERSON', 'DALLAM', 'DALLAS', 'DAWSON', 'DEAF SMITH',
       'DELTA', 'DENTON', 'DEWITT', 'DICKENS', 'DIMMIT', 'DONLEY',
       'DUVAL', 'EASTLAND', 'ECTOR', 'EDWARDS', 'ELLIS', 'EL PASO',
       'ERATH', 'FALLS', 'FANNIN', 'FAYETTE', 'FISHER', 'FLOYD', 'FOARD',
       'FORT BEND', 'FRANKLIN', 'FREESTONE', 'FRIO', 'GAINES',
       'GALVESTON', 'GARZA', 'GILLESPIE', 'GLASSCOCK', 'GOLIAD',
       'GONZALES', 'GRAY', 'GRAYSON', 'GREGG', 'GRIMES', 'GUADALUPE',
       'HALE', 'HALL', 'HAMILTON', 'HANSFORD', 'HARDEMAN', 'HARDIN',
       'HARRIS', 'HARRISON', 'HARTLEY', 'HASKELL', 'HAYS', 'HEMPHILL',
       'HENDERSON', 'HIDALGO', 'HILL', 'HOCKLEY', 'HOOD', 'HOPKINS',
       'HOUSTON', 'HOWARD', 'HUDSPETH', 'HUNT', 'HUTCHINSON', 'IRION',
       'JACK', 'JACKSON', 'JASPER', 'JEFF DAVIS', 'JEFFERSON', 'JIM HOGG',
       'JIM WELLS', 'JOHNSON', 'JONES', 'KARNES', 'KAUFMAN', 'KENDALL',
       'KENEDY', 'KENT', 'KERR', 'KIMBLE', 'KING', 'KINNEY', 'KLEBERG',
       'KNOX', 'LAMAR', 'LAMB', 'LAMPASAS', 'LA SALLE', 'LAVACA', 'LEE',
       'LEON', 'LIBERTY', 'LIMESTONE', 'LIPSCOMB', 'LIVE OAK', 'LLANO',
       'LOVING', 'LUBBOCK', 'LYNN', 'MCCULLOCH', 'MCLENNAN', 'MCMULLEN',
       'MADISON', 'MARION', 'MARTIN', 'MASON', 'MATAGORDA', 'MAVERICK',
       'MEDINA', 'MENARD', 'MIDLAND', 'MILAM', 'MILLS', 'MITCHELL',
       'MONTAGUE', 'MONTGOMERY', 'MOORE', 'MORRIS', 'MOTLEY',
       'NACOGDOCHES', 'NAVARRO', 'NEWTON', 'NOLAN', 'NUECES', 'OCHILTREE',
       'OLDHAM', 'ORANGE', 'PALO PINTO', 'PANOLA', 'PARKER', 'PARMER',
       'PECOS', 'POLK', 'POTTER', 'PRESIDIO', 'RAINS', 'RANDALL',
       'REAGAN', 'REAL', 'RED RIVER', 'REEVES', 'REFUGIO', 'ROBERTS',
       'ROBERTSON', 'ROCKWALL', 'RUNNELS', 'RUSK', 'SABINE',
       'SAN AUGUSTINE', 'SAN JACINTO', 'SAN PATRICIO', 'SAN SABA',
       'SCHLEICHER', 'SCURRY', 'SHACKELFORD', 'SHELBY', 'SHERMAN',
       'SMITH', 'SOMERVELL', 'STARR', 'STEPHENS', 'STERLING', 'STONEWALL',
       'SUTTON', 'SWISHER', 'TARRANT', 'TAYLOR', 'TERRELL', 'TERRY',
       'THROCKMORTON', 'TITUS', 'TOM GREEN', 'TRAVIS', 'TRINITY', 'TYLER',
       'UPSHUR', 'UPTON', 'UVALDE', 'VAL VERDE', 'VAN ZANDT', 'VICTORIA',
       'WALKER', 'WALLER', 'WARD', 'WASHINGTON', 'WEBB', 'WHARTON',
       'WHEELER', 'WICHITA', 'WILBARGER', 'WILLACY', 'WILLIAMSON',
       'WILSON', 'WINKLER', 'WISE', 'WOOD', 'YOAKUM', 'YOUNG', 'ZAPATA',
       'ZAVALA'], dtype=object)

In [11]:
opi_data = pd.read_parquet("/Users/yangshining/pds2021-opioids-pds6/10_modified_data/opioid_whole_final.parquet", engine = 'fastparquet')
opi_data.sample(10)

     BUYER_STATE BUYER_COUNTY  year           MME
5973          SC      BAMBERG  2009  4.813056e+06
7616          TX    MCCULLOCH  2006  1.658762e+06
6550          TX     BURLESON  2007  1.207297e+06
8691          WA    WAHKIAKUM  2006  1.004054e+06
8660          WA    SNOHOMISH  2011  3.283056e+08
6189          SC    LANCASTER  2009  2.431174e+07
6253          SC     NEWBERRY  2010  9.509778e+06
2638          ID       BONNER  2010  1.549712e+07
1086          FL  SAINT JOHNS  2006  4.366608e+07
7910          TX    ROBERTSON  2010  1.641255e+06

In [24]:
la=opi_data[opi_data["BUYER_STATE"]=="FL"]
la["BUYER_COUNTY"].unique()

array(['ALACHUA', 'BAKER', 'BAY', 'BRADFORD', 'BREVARD', 'BROWARD',
       'CALHOUN', 'CHARLOTTE', 'CITRUS', 'CLAY', 'COLLIER', 'COLUMBIA',
       'DIXIE', 'DUVAL', 'ESCAMBIA', 'FLAGLER', 'FRANKLIN', 'GILCHRIST',
       'HENDRY', 'HERNANDO', 'HIGHLANDS', 'HILLSBOROUGH', 'HOLMES',
       'INDIAN RIVER', 'JACKSON', 'JEFFERSON', 'LAFAYETTE', 'LAKE', 'LEE',
       'LEON', 'LEVY', 'MANATEE', 'MARION', 'MARTIN', 'MIAMI-DADE',
       'MONROE', 'NASSAU', 'OKALOOSA', 'OKEECHOBEE', 'ORANGE', 'OSCEOLA',
       'PALM BEACH', 'PASCO', 'PINELLAS', 'POLK', 'PUTNAM', 'ST. JOHNS',
       'ST. LUCIE', 'SANTA ROSA', 'SARASOTA', 'SEMINOLE', 'SUMTER',
       'TAYLOR', 'VOLUSIA', 'WASHINGTON', 'HAMILTON', 'UNION', 'WALTON',
       'DE SOTO', 'GADSDEN', 'HARDEE', 'SUWANNEE', 'WAKULLA', 'MADISON',
       'GULF', 'LIBERTY', 'GLADES'], dtype=object)

In [21]:
nm=opi_data[opi_data["BUYER_STATE"]=="NM"]
nm["BUYER_COUNTY"].unique()

array(['BERNALILLO', 'CHAVES', 'CIBOLA', 'CURRY', 'DE BACA', 'DONA ANA',
       'EDDY', 'GRANT', 'LEA', 'LINCOLN', 'LOS ALAMOS', 'LUNA',
       'MCKINLEY', 'OTERO', 'RIO ARRIBA', 'SAN JUAN', 'SAN MIGUEL',
       'SANDOVAL', 'SANTA FE', 'SIERRA', 'SOCORRO', 'TAOS', 'TORRANCE',
       'VALENCIA', 'COLFAX', 'GUADALUPE', 'HIDALGO', 'ROOSEVELT', 'QUAY',
       'UNION', 'CATRON'], dtype=object)

In [15]:
# Fix ST JOHN THE BAPTIST
opi_data['BUYER_COUNTY'] = np.where(opi_data["BUYER_COUNTY"].str[:3] == "ST ", "ST. " + opi_data["BUYER_COUNTY"].str[3:] , opi_data["BUYER_COUNTY"])

# Fix SAINT

opi_data['BUYER_COUNTY'] = np.where(opi_data["BUYER_COUNTY"].str[:6] == "SAINT ", "ST. " + opi_data["BUYER_COUNTY"].str[6:] , opi_data["BUYER_COUNTY"])

#Fix DONA ANA

fips['county_name'] = np.where(fips['county_name'] == "DOÐA ANA", "DONA ANA" , fips['county_name'])

# Fix DE SOTO
opi_data['BUYER_COUNTY'] = np.where(opi_data["BUYER_COUNTY"] == "DE SOTO", "DESOTO" , opi_data["BUYER_COUNTY"])
fips['county_name'] = np.where(fips['county_name'] == "DE SOTO", "DESOTO" , fips['county_name'])

# Fix DE KALB
opi_data['BUYER_COUNTY'] = np.where(opi_data["BUYER_COUNTY"] == "DE KALB", "DEKALB" , opi_data["BUYER_COUNTY"])

# Fix DE WITT
opi_data['BUYER_COUNTY'] = np.where(opi_data["BUYER_COUNTY"] == "DE WITT", "DEWITT" , opi_data["BUYER_COUNTY"])

In [16]:
fips_sub = fips[["county_name", "state_abbr", "fips"]]

opi_merge = pd.merge(fips_sub, opi_data, how = "right",left_on = ["state_abbr", "county_name"], right_on=["BUYER_STATE", "BUYER_COUNTY"])

#opi_merge2 = opi_merge.drop(columns=["BUYER_COUNTY", "BUYER_STATE"])

opi_merge[opi_merge["fips"].isna()]

#opi_merge[opi_merge["fips"].isna()]["BUYER_STATE"].unique()
# opi_merge2['fips'].astype(int)

Empty DataFrame
Columns: [county_name, state_abbr, fips, BUYER_STATE, BUYER_COUNTY, year, MME]
Index: []

In [17]:
# Save it to parquet

opi_merge.to_parquet("/Users/yangshining/pds2021-opioids-pds6/10_modified_data/opi_merge_final.parquet", 
engine = 'fastparquet')